<html>

<head>
    <title> IMDb Movies </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    {{!--
    <script type="text/javascript" src="/js/validator.min.js"></script> --}}
    <script src="/js/handlebars.min.js"></script>
    <script type="text/javascript" src="/js/home.js"></script>
    <link rel="icon" href="./images/Daco_1445791.png" type="image/x-icon">
</head>

<body style="background-color:#EE9595;" class="col-12 h-100 d-flex flex-column">
    {{> navbar}}
    {{> successModal}}
    {{> failedModal}}
    {{> loadingModal}}
    <div class="rounded-3 m-5 p-5 flex-fill bg-light d-flex flex-column justify-content-center">
        {{!-- HEADER --}}
        <div class="rounded-3 col-12 mb-5 d-flex flex-row">
            <div class="rounded-start col-6 p-3 movie-title-quote d-flex flex-column justify-content-center align-items-center"
                style="background-color:#FFCDA3;">
                <span class="material-icons md-48">movie_filter</span>
                <div id="title" class="col-6">
                    <p class="h1 text-center">IMDb Movies</p>
                </div>
                <figure>
                    <blockquote class="blockquote">
                        <p class="text-center p-2 fst-italic fw-bolder">It's not the house that's haunted, it's your
                            son.</p>
                    </blockquote>
                    <figcaption class=" text-center blockquote-footer">
                        Elise Rainier in <cite title="Source Title">Insidious</cite>
                    </figcaption>
                </figure>
            </div>

            <div class="rounded-end col-6 movie-header">
                <img src="/images/bg1.jpeg" class="rounded-end" alt="movies">
            </div>
        </div>
        {{!-- TABLE HEADER --}}
        <div class="col-12 d-flex flex-row">
            <div id="title" class="col-4">
                <p class="h1 fw-bolder text-left">IMDb Movies Record</p>
            </div>
            <div id="movies-num-rows" class="col-6 position-relative">
                <p class="h5 col-12 pb-0 fst-italic text-start position-absolute bottom-0 start-0">Showing {{resultlen}}
                    row(s).</p>
            </div>
            <div id="insert-btn" class="col-2 d-flex position-relative mb-2">
                <button
                    class="btn col-12 btn-warning insertBtn position-absolute bottom-0 end-0 fw-bold border border-dark border-2"
                    data-bs-toggle="modal" id="insert-movie-btn" data-bs-target="#modal-insert">Add a movie</button>
                {{!-- ADD A MOVIE(INSERT) MODAL --}}
                <div class="modal fade modal-insert" id="modal-insert" tabindex="-1">
                    <form class="add-movie">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header bg-warning border-dark">
                                    <h5 class="modal-title" id="add-movie-modal-header"><strong>Add a
                                            Movie</strong></h5>
                                </div>
                                <div class="modal-body p-4">
                                    <div class="text-center fw-normal">Enter the movie's details (name,
                                        year, and rank) before
                                        clicking <strong>Add Movie</strong>. Discard entry by clicking the
                                        <strong>Cancel</strong> button
                                    </div>
                                    <div class="form-group my-3">
                                        <label for="add-movie-name">Movie Name</label>
                                        <input type="text" class="form-control" id="add-movie-name"
                                            name="add-movie-name">
                                    </div>
                                    <div class="form-group my-3">
                                        <label for="add-movie-year">Year</label>
                                        <input type="number" class="form-control" id="add-movie-year"
                                            name="add-movie-year" min="1700" max="2099" step="1">
                                    </div>
                                    <div class="form-group my-3">
                                        <label for="add-movie-rank">Rank</label>
                                        <input type="number" class="form-control" id="add-movie-rank"
                                            name="add-movie-rank" step="any">
                                    </div>
                                    <strong>
                                        <div class="mx-5 p-3 text-center text-danger error" id="add-movie-error">
                                        </div>
                                    </strong>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary me-auto"
                                        data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" data-bs-dismiss="modal"
                                        class="btn btn-warning add-movie-button" disabled>Add
                                        Movie</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {{!-- TABLE --}}
        <table class="table table-danger table-hover table-bordered table-striped border-dark border-2"
            id="movies-table">
            <thead class="table-dark">
                <tr>
                    {{#each uniqueKeys}}
                    <th>{{this}}</th>
                    {{/each}}
                    <th class="text-center">update</th>
                    <th class="text-center">delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each result}}
                <tr>
                    {{#each this}}
                    <td>{{this}}</td>
                    {{/each}}
                    <th class="position-relative">
                        <button data-id={{id}} type="button"
                            class="btn btn-primary updateBtn material-icons-outlined md-24 border-light border-2 position-absolute top-50 start-50 translate-middle"
                            data-bs-toggle="modal" id="{{id}}-update-movie-btn" data-bs-target="#modal-{{id}}-update">
                            <span class="material-icons-outlined">edit_note</span>
                        </button>
                        {{!-- UPDATE MODAL --}}
                        <div class="modal fade modal-update" id="modal-{{id}}-update" tabindex="-1">
                            <form class="update-movie">
                                <input type="text" class="form-control id" id="movie-id-{{id}}" name="movie-name-copy"
                                    value="{{id}}" hidden>
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header bg-primary border-light">
                                            <h5 class="modal-title" style="color: white;"
                                                id="update-movie-modal-header">
                                                <strong>Update this
                                                    Movie</strong>
                                            </h5>
                                        </div>
                                        <div class="modal-body p-4">
                                            <div class="text-center fw-normal">Update any of the movie's details (name,
                                                year, or rank) before
                                                clicking <strong>Save Changes</strong>. All fields should be filled up.
                                                Discard changes by clicking the
                                                <strong>Cancel</strong> button.
                                            </div>

                                            <div class="form-group my-3">
                                                <label for="update-movie-name">Movie Name</label>
                                                <input type="text" class="form-control" id="update-movie-name-{{id}}"
                                                    name="update-movie-name" value="{{name}}">
                                                <input type="text" class="form-control" id="movie-name-copy-{{id}}"
                                                    name="movie-name-copy" value="{{name}}" hidden>
                                            </div>
                                            <div class="form-group my-3">
                                                <label for="update-movie-year">Year</label>
                                                <input type="number" class="form-control" id="update-movie-year-{{id}}"
                                                    name="update-movie-year" min="1700" max="2099" step="1"
                                                    value="{{year}}">
                                                <input type="number" class="form-control" id="movie-year-copy-{{id}}"
                                                    name="movie-year-copy" step="any" value="{{year}}" hidden>
                                            </div>
                                            <div class="form-group my-3">
                                                <label for="update-movie-rank">Rank</label>
                                                <input type="number" class="form-control" id="update-movie-rank-{{id}}"
                                                    name="update-movie-rank" step="any" value="{{rank}}">
                                                <input type="number" class="form-control" id="movie-rank-copy-{{id}}"
                                                    name="movie-rank-copy" step="any" value="{{rank}}" hidden>
                                            </div>
                                            <strong>
                                                <div class="mx-5 p-3 text-center text-danger"
                                                    id="update-movie-error-{{id}}">
                                                </div>
                                            </strong>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary me-auto"
                                                data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" data-bs-dismiss="modal" class="btn btn-primary"
                                                id="update-movie-button-{{id}}" disabled>Save
                                                Changes</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </th>
                    <th class="text-center">
                        <button data-id={{id}}
                            class="btn btn-danger deleteBtn material-icons-outlined md-24 border-light border-2"
                            data-bs-toggle="modal" id="{{id}}-delete-movie-btn" data-bs-target="#modal-{{id}}-delete">
                            <span class="material-icons-outlined">delete_forever</span>
                        </button>
                        {{!-- CONFIRM DELETE MODAL --}}
                        <div class="modal fade modal-delete" id="modal-{{id}}-delete" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header bg-danger border-light">
                                        <h5 class="modal-title" style="color: white;" id="delete-movie-modal-header">
                                            <strong>Delete this
                                                Movie</strong>
                                        </h5>
                                    </div>
                                    <div class="modal-body p-4">
                                        <div class="fw-normal"> Are you sure you want to delete this movie?<br>This
                                            action cannot be reversed.
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary me-auto" data-bs-toggle="modal"
                                            data-bs-target="#modal-{{id}}" data-bs-dismiss="modal">Back</button>
                                        <form>
                                            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal"
                                                onclick="submitDeleteMovieForm({{id}},{{year}})">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
                {{/each}}
            </tbody>
        </table>

        {{!-- PAGINATION --}}
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item {{#ifEquals pageNumberCurr 1}}disabled{{/ifEquals}}">
                    <a class="page-link" href="/?page=1">First</a>
                </li>

                <li class="page-item {{#ifEquals pageNumberCurr 1}}disabled{{/ifEquals}}">
                    <a class="page-link" href="/?page={{pageNumberPrev}}">Previous</a>
                </li>

                {{#ifNotEquals pageNumberCurr 1}}
                <li class="page-item">
                    <a class="page-link {{#ifEquals pageNumberCurr 1}}disabled{{/ifEquals}}"
                        href="/?page={{pageNumberPrev}}">{{pageNumberPrev}}</a>
                </li>
                {{/ifNotEquals}}

                <li class="page-item active">
                    <a class="page-link" href="/?page={{pageNumberCurr}}">{{pageNumberCurr}}</a>
                </li>
                {{#ifNotEquals pageNumberCurr pageNumberLast}}
                <li class="page-item">
                    <a class="page-link" href="/?page={{pageNumberNext}}">{{pageNumberNext}}</a>
                </li>
                {{/ifNotEquals}}

                <li class="page-item {{#ifEquals pageNumberCurr pageNumberLast}}disabled{{/ifEquals}}">
                    <a class="page-link" href="/?page={{pageNumberNext}}">Next</a>
                </li>

                <li class="page-item {{#ifEquals pageNumberCurr pageNumberLast}}disabled{{/ifEquals}}">
                    <a class="page-link" href="/?page={{pageNumberLast}}">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</body>

</html>