<html>

<head>
    <title> IMDb Movie Record</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    {{!--
    <script type="text/javascript" src="/js/validator.min.js"></script> --}}
    <script src="/js/handlebars.min.js"></script>
    <script type="text/javascript" src="/js/home.js"></script>
</head>

<body class="col-12 h-100 d-flex flex-column">
    {{> navbar}}
    {{> successModal}}
    {{> failedModal}}
    {{> loadingModal}}
    <div class="rounded-3 m-5 p-5 flex-fill d-flex flex-column justify-content-center">
        {{!-- HEADER --}}
        <div id="title" class="col-12">
            <p class="h1 fw-bolder text-left">IMDb Movie Record</p>
            <p class="text-left">
                Welcome to the IMDB Movie Record Database! 
                In here, you can add, update, delete, and search for a movie!
                <br>
                <br>
                To <strong>SEARCH</strong> for a movie, click the link on the right in the navigation bar for further instructions!
                <br>
                To <strong>ADD</strong> a movie, click the 'Add a movie' button for further instructions!
                <br>
                To <strong>UPDATE</strong> a movie, click the 'Update' button of the movie you want to edit for further instructions!
                <br>
                To <strong>DELETE</strong> a movie, click the 'Delete' button of the movie you want to edit for further instructions!
            </p>
        </div>

        <br>
        <br>
        {{!-- TABLE HEADER --}}
        <div class="col-12 d-flex flex-row">
            <div id="movies-num-rows" class="col-7 position-relative">
                <p class="h5 col-12 pb-0 text-start position-absolute bottom-0 start-0">
                    Showing {{resultlen}} records.
                </p>
            </div>
            <div id="insert-btn" class="col-5 d-flex position-relative mb-2">
                <button
                    class="btn col-4 insertBtn position-absolute bottom-0 end-0 fw-bold border border-dark"
                    data-bs-toggle="modal" id="insert-movie-btn" data-bs-target="#modal-insert">
                    Add a movie
                </button>

                {{!-- ADD A MOVIE(INSERT) MODAL --}}
                <div class="modal fade modal-insert" id="modal-insert" tabindex="-1">
                    <form class="add-movie">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="add-movie-modal-header">
                                        <strong>
                                            Add Movie
                                        </strong>
                                    </h5>
                                </div>
                                <div class="modal-body p-4">
                                    <div class="text-center fw-normal">
                                        Enter the Movie's title, year, and rank.
                                    </div>
                                    <div class="form-group my-3">
                                        <label for="add-movie-name">Title</label>
                                        <input type="text" class="form-control" id="add-movie-name"
                                            name="add-movie-name">
                                    </div>
                                    <div class="form-group my-3">
                                        <label for="add-movie-year">Year</label>
                                        <input type="number" class="form-control" id="add-movie-year"
                                            name="add-movie-year" min="1700" max="2099" step="1">
                                    </div>
                                    <div class="form-group my-3">
                                        <label for="add-movie-rank">Rank</label>
                                        <input type="number" class="form-control" id="add-movie-rank"
                                            name="add-movie-rank" step="any">
                                    </div>
                                    <strong>
                                        <div class="mx-5 p-3 text-center text-danger error" id="add-movie-error">
                                        </div>
                                    </strong>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn me-auto"
                                        data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" data-bs-dismiss="modal" class="btn add-movie-button" disabled>
                                        Add Movie
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {{!-- TABLE --}}
        <table class="table table-hover table-bordered border-dark"
            id="movies-table">
            <thead>
                <tr>
                    {{#each uniqueKeys}}
                    <th>{{this}}</th>
                    {{/each}}
                    <th class="text-center">Update</th>
                    <th class="text-center">Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each result}}
                <tr>
                    {{#each this}}
                    <td>{{this}}</td>
                    {{/each}}
                    <th class="position-relative">
                        <button data-id={{id}} type="button"
                            class="btn updateBtn md-24 border-dark position-absolute top-50 start-50 translate-middle"
                            data-bs-toggle="modal" id="{{id}}-update-movie-btn" data-bs-target="#modal-{{id}}-update">
                            <span>
                                Edit
                            </span>
                        </button>
                        {{!-- UPDATE MODAL --}}
                        <div class="modal fade modal-update" id="modal-{{id}}-update" tabindex="-1">
                            <form class="update-movie">
                                <input type="text" class="form-control id" id="movie-id-{{id}}" name="movie-name-copy"
                                    value="{{id}}" hidden>
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header border-light">
                                            <h5 class="modal-title" id="update-movie-modal-header">
                                                <strong>Update Movie</strong>
                                            </h5>
                                        </div>
                                        <div class="modal-body p-4">
                                            <div class="text-center fw-normal">
                                                Update movie's title, year, or rank. <br>
                                                All fields should be filled up.
                                            </div>

                                            <div class="form-group my-3">
                                                <label for="update-movie-name">Title</label>
                                                <input type="text" class="form-control" id="update-movie-name-{{id}}"
                                                    name="update-movie-name" value="{{name}}">
                                                <input type="text" class="form-control" id="movie-name-copy-{{id}}"
                                                    name="movie-name-copy" value="{{name}}" hidden>
                                            </div>
                                            <div class="form-group my-3">
                                                <label for="update-movie-year">Year</label>
                                                <input type="number" class="form-control" id="update-movie-year-{{id}}"
                                                    name="update-movie-year" min="1700" max="2099" step="1"
                                                    value="{{year}}">
                                                <input type="number" class="form-control" id="movie-year-copy-{{id}}"
                                                    name="movie-year-copy" step="any" value="{{year}}" hidden>
                                            </div>
                                            <div class="form-group my-3">
                                                <label for="update-movie-rank">Rank</label>
                                                <input type="number" class="form-control" id="update-movie-rank-{{id}}"
                                                    name="update-movie-rank" step="any" value="{{rank}}">
                                                <input type="number" class="form-control" id="movie-rank-copy-{{id}}"
                                                    name="movie-rank-copy" step="any" value="{{rank}}" hidden>
                                            </div>
                                            <strong>
                                                <div class="mx-5 p-3 text-center text-danger"
                                                    id="update-movie-error-{{id}}">
                                                </div>
                                            </strong>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn me-auto"
                                                data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" data-bs-dismiss="modal" class="btn"
                                                id="update-movie-button-{{id}}" disabled>
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </th>
                    <th class="text-center">
                        <button data-id={{id}}
                            class="btn deleteBtn md-24 border-dark"
                            data-bs-toggle="modal" id="{{id}}-delete-movie-btn" data-bs-target="#modal-{{id}}-delete">
                            <span>Remove</span>
                        </button>
                        {{!-- CONFIRM DELETE MODAL --}}
                        <div class="modal fade modal-delete" id="modal-{{id}}-delete" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header border-light">
                                        <h5 class="modal-title" id="delete-movie-modal-header">
                                            <strong>
                                                Delete Movie
                                            </strong>
                                        </h5>
                                    </div>
                                    <div class="modal-body p-4">
                                        <div class="fw-normal">
                                            Are you sure you want to delete this movie?<br>
                                            Note: action cannot be reversed.
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn me-auto" data-bs-toggle="modal"
                                            data-bs-target="#modal-{{id}}" data-bs-dismiss="modal">Back</button>
                                        <form>
                                            <button type="submit" class="btn" data-bs-dismiss="modal"
                                                onclick="submitDeleteMovieForm({{id}},{{year}})">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
                {{/each}}
            </tbody>
        </table>

        {{!-- PAGINATION --}}
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item {{#ifEquals pageNumberCurr 1}}disabled{{/ifEquals}}">
                    <a class="page-link" href="/?page=1">First</a>
                </li>

                <li class="page-item {{#ifEquals pageNumberCurr 1}}disabled{{/ifEquals}}">
                    <a class="page-link" href="/?page={{pageNumberPrev}}">Previous</a>
                </li>

                {{#ifNotEquals pageNumberCurr 1}}
                <li class="page-item">
                    <a class="page-link {{#ifEquals pageNumberCurr 1}}disabled{{/ifEquals}}"
                        href="/?page={{pageNumberPrev}}">{{pageNumberPrev}}</a>
                </li>
                {{/ifNotEquals}}

                <li class="page-item active">
                    <a class="page-link" href="/?page={{pageNumberCurr}}">{{pageNumberCurr}}</a>
                </li>
                {{#ifNotEquals pageNumberCurr pageNumberLast}}
                <li class="page-item">
                    <a class="page-link" href="/?page={{pageNumberNext}}">{{pageNumberNext}}</a>
                </li>
                {{/ifNotEquals}}

                <li class="page-item {{#ifEquals pageNumberCurr pageNumberLast}}disabled{{/ifEquals}}">
                    <a class="page-link" href="/?page={{pageNumberNext}}">Next</a>
                </li>

                <li class="page-item {{#ifEquals pageNumberCurr pageNumberLast}}disabled{{/ifEquals}}">
                    <a class="page-link" href="/?page={{pageNumberLast}}">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</body>

</html>